{% extends 'weather_comparator/base.html' %}

{% block content %}
<div class="container-md">
    <div class='row'>
        <div class='col-xl-4'>
            <form>
                <label for="inputDate">Choose the date:</label>
                <input id="inputDate" type="date" class="form-control" max="{% now " Y-m-d" %}">

            </form>

            <div style="margin:5px;">
                <button id="setDate" class="btn btn-outline-info">Today</button>
                <button id="getDate" class="btn btn-outline-success">Go to date</button>
            </div>

            <div style="margin:5px;">
                <a class="btn btn-outline-danger" href="erase_db" role="button">Delete all</a>
            </div>
        </div>
    </div>
    <div class='row'>
    <div class='col-xl-6'>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for i in distinct_days %}
        <tr>
            <td><a href="/{{ i|date:'Y' }}/{{ i|date:'m' }}/{{ i|date:'d' }}"> {{ i|date:'d.m.Y' }} </a></td>
            <td><a href="/delete/{{ i|date:'Y' }}/{{ i|date:'m' }}/{{ i|date:'d' }}">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
</div>
{% endblock %}