{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{% static 'weather_comparator/js/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'weather_comparator/js/popper.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'weather_comparator/css/bootstrap.min.css' %}">
    <script src="{% static 'weather_comparator/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'weather_comparator/css/custom.css' %}">
     <script src="{% static 'weather_comparator/js/custom.js' %}"></script>
    <title> {{ title }} </title>
</head>
<body>


<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="navbar-header">
          <a class="navbar-brand" href="#">{{ title }}</a>
          <p>Backend server ip: {{ server_ip }}</p>

      </div>
      <div>
    <p>Version 0.5</p>
    <a class="btn btn-outline-success" href="/" role="button">Home</a>


      </div>
  </nav>

    {% block content %}
{% endblock %}
</div>


</body>
</html>
